version: "3.1"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-terrarossa
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: terrarossa
      POSTGRES_PASSWORD: terrarossa
      POSTGRES_DB: terrarossa
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
