html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
 .fc table{
  table-layout: auto;
}
.fc-view > table{  
  min-width: 0;
  width: auto;
}
.fc-axis{
  min-width:100px; 
  width:100px; 
}
.fc-day,.fc-resource-cell,.fc-content-col{
  min-width:300px;
  width:300px;
} */