.marginBottom {
  margin-bottom: 10vh;
}

.toolbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.logo {
  color: #C23B22;
  cursor: pointer;
  font-weight: 500;
}

.link {
  color: #000;
}

.menuIcon {
  color: #000;
}